.logo{
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar .li1{
    margin-right: 24px;
    opacity: 0;
    animation: slideTop 0s ease forwards;
}
.navbar .li2{
    margin-right: 24px;
    transition: .2s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}
.navbar .li3{
    margin-right: 24px;
    transition: .2s;
    opacity: 0;
    animation: slideTop .6s ease forwards;
}
.navbar .li4{
    margin-right: 24px;
    transition: .2s;
    opacity: 0;
    animation: slideTop .7s ease forwards;
}
.navbar .li5{
    margin-right: 24px;
    transition: .2s;
    opacity: 0;
    animation: slideTop .8s ease forwards;
}
.navbar .li6{
    transition: .2s;
    opacity: 0;
    animation: slideTop .9s ease forwards;
}

@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}