.home2 {
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.home1 {
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.homeP {
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

/* .a1 {
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.3s;
}

.a2 {
    transition: .3s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.4s;
} */

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.button {
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
}
@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}