@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Exo 2', sans-serif;
    background-color: #31065A;
}

/* .blueBg{
    background-image: url("../src/assets/blueBg.png");
    background-position: center;
    background-size: cover;
    height: 650px;
}

.purpleBg{
    background-image: url("../src/assets/purpleBg.png");
    background-position: center;
    background-size: cover;
    height: 650px;
} */